<header class="main-header">
    <div class="container">
        <div class="logo">
            <h2>متجري</h2>
        </div>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">المتجر</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">إضافة منتج</a>
                </li>
            </ul>
        </nav>
    </div>
</header>