doctype html
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet" href="/css/main.css")
    
    body
        header.main-header
            .container
                .logo
                    h2 متجري
                nav.main-header__nav
                    ul.main-header__item-list
                        li.main-header__item
                            a.active(href="/") المتجر
                        li.main-header__item
                            a(href="/admin/add-product") إضافة منتج
        
        main
            .container
                .page-header
                    h1 منتجاتنا
                    p.subtitle اكتشف مجموعتنا المميزة من المنتجات
                
                .products-grid
                    if prods.length > 0
                        each product in prods
                            .product-card
                                .product-image
                                    img(src="https://computecheg.com/wp-content/uploads/2025/05/Nude-Boba-Milk-Tea-Logo-2025-05-19T172028.656.png" alt=product.title)
                                .product-info
                                    h3= product.title
                                    p.product-description وصف مختصر للمنتج يوضح مميزاته الأساسية
                                    .product-footer
                                        span.price 299 ج.م
                                        button.btn.btn-primary إضافة للسلة
                    else
                        p لا توجد منتجات متاحة حالياً
        
        footer.main-footer
            .container
                p &copy; 2025 متجري. جميع الحقوق محفوظة.